<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel Suite" verbose="5"
	thread-count="5" parallel="false">
	<test name="Test0">
		<classes>
			<class name="jar.NewTest" />
		</classes>
	</test>
	<!-- Test -->
	<test name="Test1">
		<classes>
			<class name="jar.ParameterTest" />
		</classes>
	</test>
	<!-- Test -->
</suite><!-- Suite -->
